@import url('https://fonts.googleapis.com/css2?family=Anton&family=Anton+SC&family=Roboto+Slab:wght@100..900&family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');


* {
    margin: 0;
    padding: 0;
  }

body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    flex-direction: column;
    background-image: url(https://images.pexels.com/photos/1072179/pexels-photo-1072179.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    font-family: "Wittgenstein", serif;
    opacity: 87%;
    
}

.main-box{
    background-color: #fff;
    width: 120vh;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    margin-bottom: 200px;
    
}

/* header title*/

h3{
    font-size: 3.5rem;
    color: white;
    letter-spacing: 3px;
   margin-top: 135px;

}

/*box 1 style*/

.box1{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-evenly;
    width: 100vh;
    height: 20vh;
    
    
}

.same{
    font-size: 1.2rem;
    font-weight: 700;
}

.amount{
    padding-right: 60px;
}

.size{
    width: 15rem;
    height: 3rem;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    text-decoration: none;
    font-weight: 600;
}

.con-logo{
    border: 1px solid black;
    padding: 10px;
    border-radius: 100%;
    font-size: 1.4rem;
    width: 35px;
    height: 35px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}

select  ,input{
    width: 100%;
    height: 83%;
    border: none;
    outline: none;
    padding-left: 5px;
    font-size: 1.3rem;
    font-weight: 500;
}

/* box 2 style */

.box2{
    display: flex;
    justify-content: space-between;
    gap: 15rem;
    align-items: center;
    width: 100vh;
    height: 15vh;
    
}

.fmsg{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.msg-h{
    font-size: 22px;
    font-weight: 500;
    color: rgb(36, 36, 36);
}

.msh-hh{
    font-size: 30px;
    font-weight: 600;
    
}

.msg-l{
    font-size: 15px;
    font-weight: 500;
    color:rgb(36, 36, 36)
}

button{
    border: none;
    outline: none;
    width: 13rem;
    height: 5rem;
    background-color: rgb(40, 144, 255);
    color: white;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 550;
}

button:hover{
    opacity: 85%;   
}

/* footer */

.footer{
    font-size: 1rem;
    padding-bottom: 15px;
}

select option{
    font-weight: 400;
}

.footerp{
    color: white;
}